.p {
    color: pink; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto; 
    border: 12px;
    border-color: blanchedalmond;
    border-style: double;

}